[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=LliureX Apache+MySQL+PHP (Debug)
Name[en]=LliureX Apache+MySQL+PHP (Debug)
Name[es]=LliureX Apache+MySQL+PHP (Debug)
Name[ca_ES]=LliureX Apache+MySQL+PHP (Debug)
Name[ca]=LliureX Apache+MySQL+PHP (Debug)
Name[ca_ES.UTF-8]=LliureX Apache+MySQL+PHP (Debug)
Name[ca_ES@valencia]=LliureX Apache+MySQL+PHP (Debug)
Comment=LliureX Apache+MySQL+PHP (Debug)
Comment[es]=LliureX Apache+MySQL+PHP (Debug)
Comment[ca_ES]=LliureX Apache+MySQL+PHP (Debug)
Comment[ca]=LliureX Apache+MySQL+PHP (Debug)
Comment[ca_ES@valencia]=LliureX Apache+MySQL+PHP (Debug)
Comment[ca_ES.UTF-8@valencia]=LliureX Apache+MySQL+PHP (Debug)
Exec=llxamp-gui -d
TryExec=llxamp-gui
Terminal=false
Icon=/usr/share/icons/hicolor/scalable/apps/llxamp.svg
Type=Application
GenericName=llxamp-debug
Categories=Development;