Source: llxamp
Section: devel
Priority: optional
Maintainer: M.Angel Juan <m.angel.juan@gmail.com>
Build-Depends: debhelper-compat (= 12), zero-dev, llxsrchelper
Standards-Version: 4.4.1
Homepage: http://lliurex.net
Vcs-Git: https://github.com/lliurex/llxamp/

Package: llxamp-cmdline
Architecture: any
Depends: ${misc:Depends},
  llxamp-install-pack,
  base-files (>= 11),
  build-essential,
  chrpath,
  lynx,
  openssl,
  fuse-overlayfs,
  python3,
  python3-dbus,
  python3-avahi
Description: LLXAMP install Apache+PHP+MariaDB+PHPMyAdmin instances in user's homedir
 This package contains cmdline scripts

Package: llxamp-devel
Architecture: any
Depends: ${misc:Depends},
  build-essential,
  sudo,
  python3,
  autoconf,
  automake,
  bison,
  base-files (>= 11),
  libtool,
  perl,
  libevent-dev,
  libexpat1-dev,
  libcrypt-dev,
  libicu-dev,
  libpcre3-dev,
  libxml2-dev,
  libsqlite3-dev,
  libbz2-dev,
  libcurl4-openssl-dev | libcurl4-dev,
  libpng-dev,
  libjpeg-dev,
  libfreetype-dev,
  libonig-dev,
  libreadline-dev,
  libxslt-dev,
  libxml2-dev,
  libzip-dev,
  libssl-dev,
  zlib1g-dev,
  tzdata,
  netbase
Description: LLXAMP install Apache+PHP+MariaDB+PHPMyAdmin instances in user's homedir
 This package contains cmdline scripts for build install pack

Package: llxamp-install-pack
Architecture: any
Depends: ${misc:Depends},
  base-files (>= 11),
  curl
Description: LLXAMP install Apache+PHP+MariaDB+PHPMyAdmin instances in user's homedir
 This package contains install-pack for LLXAMP

Package: llxamp-gui
Architecture: any
Depends: ${misc:Depends},
  llxamp-cmdline,
  python3,
  python3-pyside2.qtcore,
  python3-pyside2.qtwidgets
Description: LLXAMP install Apache+PHP+MariaDB+PHPMyAdmin instances in user's homedir
 This package install gui interface

Package: zero-lliurex-llxamp
Architecture: any
Depends: ${misc:Depends},
Description: Zero-installer for LLXAMP
 Zero-installer install button for LLXAMP
